.custom-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
}

.overlay-show {
  animation: in-animation 300ms ease-in-out;
  animation-fill-mode: forwards;

  @keyframes in-animation {
    0% {
      background: rgba(210, 200, 249, 0);
    }
    100% {
      background: rgba(210, 200, 249, 0.8);
    }
  }
}

.overlay-hide {
  animation: out-animation 300ms ease-in-out;
  animation-fill-mode: forwards;

  @keyframes out-animation {
    0% {
      background: rgba(210, 200, 249, 0.8);
    }
    100% {
      background: rgba(210, 200, 249, 0);
    }
  }
}

.custom-container {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: white;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.container-show {
  animation: fadeIn 200ms ease-in-out;
  animation-fill-mode: forwards;

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-100vh);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.container-hide {
  animation: fadeOut 200ms ease-in-out;
  animation-fill-mode: forwards;

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(100vh);
    }
  }
}

